[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
coverage = "*"
gunicorn = "*"
python-dotenv = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "*"
